<footer class="py-5 bg-light">
    <div class="container">
        <p class="m-0 text-center">
            copyright : SSW 2022
        </p>
    </div>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/scripts.js"></script>
    <script type="text/javascript" src="../js/bootstrap.bundle.min.js"></script>

</footer>